.scrollable-div {
    max-height: 40rem;
    overflow-y: auto;
}

.suggestions-list {
    list-style-type: none;
    margin: 3rem 0 0 5rem;
    padding: 1rem;
    position: absolute;
    z-index: 1002;
    background-color: white;
    font-size: large;
}
